<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addstorage</title>
</head>
<body>
    <div>
        <div>
            <h1>Add Storage <span class="badge badge-secondary"></span></h1>
        </div>
    <div>
        <form action="/addstorage" method="POST" enctype="multipart/form-data" >
          <input type="file" name="avatar" />
            <div class="form-group">
              <label for="formGroupExampleInput">storage name</label>
              <input type="text" name="storageName" class="form-control" id="formGroupExampleInput" placeholder="storage name">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">storage size</label>
              <input type="text" name="storageSize" class="form-control" id="formGroupExampleInput2" placeholder="size">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">location</label>
              <input type="text" name="location" class="form-control" id="formGroupExampleInput2" placeholder="location">
            </div>
              <input type="submit" value= "post" class="btn btn-primary" name="signup-button"value="sign up"/>
          </form>
    </div>
    </div>
</body>
</html>