<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
</head>
<body>
    <div class="col-md-3">
        <div class="card">
            <img src="../img/ricegrains.jpg" class="card-img-top">
            <div class="card-body">
                <h4>Rice Grains</h4>
                <p>this is good</p>
                <h6>100 rs</h6>
                <button class="btn btn-danger"><i class="fa fa-cart-plus" aria-hidden="true"></i> View</button>
            </div>
        </div>
    </div>
    
</body>
</html>