<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostHarvest</title>
</head>
<body>
    <div>
        <div>
            <h1>Post Harvest <span class="badge badge-secondary"></span></h1>
        </div>
    <div>
        <form action="/addstorage" method="POST">
            <div class="form-group">
              <label for="formGroupExampleInput">Harvest Location</label>
              <input type="text" name="harvestLocation" class="form-control" id="formGroupExampleInput" placeholder="storage name">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Harvest Area</label>
              <input type="text" name="harvestArea" class="form-control" id="formGroupExampleInput2" placeholder="size">
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput2">Harvest Crop</label>
              <input type="text" name="harvestcrop" class="form-control" id="formGroupExampleInput2" placeholder="location">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Harvest Time</label>
                <input type="text" name="harvesttime" class="form-control" id="formGroupExampleInput2" placeholder="location">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Harvest Crop Quantity</label>
                <input type="text" name="harvestquantity" class="form-control" id="formGroupExampleInput2" placeholder="location">
              </div>
            

              <input type="submit" value= "post" class="btn btn-primary" name="signup-button"value="sign up"/>
          </form>
    </div>
    </div>

</body>
</html>