<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>preview storage :</title>
</head>
<body>

    <div>
        <div>
            <h1>preview storage<span class="badge badge-secondary"></span></h1>
        </div>
    <div>
    
    <table> 
        
        <tbody>
            
            <tr>
            
                <td>Storage name:</td>

                <td>storage size:</td>
                <td>location:</td>

                
            </tr>
            
            <tr>
            
                <td><%= storage["storageName"] %></td>
                <td><%= storage["storageSize"]  %></td>
                <td><%= storage["location"] %></td>

                
            </tr>
        
        </tbody>
    
    
    </table>
  

</body>
</html>