<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Add Storage deatils</h1>
        <form action="" method="">
        <p>Address</p>
        <div class="form-group">
            <input type="text" name="addstor"placeholder=""/>
          </div>
        <p>Storage name</p>
        <div class="form-group">
            <input type="text" name="namestor"placeholder=""/>
          </div>
        <p>userid</p>
          <div class="form-group">
              <input type="text" name="userid"placeholder=""/>
            </div>
        <p>Storage Size</p>
           <div class="form-group">
                <input type="text" name="sizestor"placeholder=""/>
            </div>
        <p>Suitable for</p>
        <div class="form-group">
          <input type="text" name="suitfor"placeholder=""/>
        </div>
        <button type="submit" class="btn btn-primary">Add Storage</button>

        </form>
    </div>
    
</body>
</html>