<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> TRANSPORT DETAILS</title>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">
                
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                
                            </div>
                            <h4 class="page-title">TRANSPORT DETAILS</h4>
                        </div>
                    </div>
                </div>     
                <!-- end page title --> 

                <div class="row">
                    <div class="col-lg-6 col-xl-4">
                        <!-- Simple card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="assets/images/small/semi.jpeg" alt="Card image cap">
                            <div class="card-body">
                               
                                <p class="card-text">vehicle name:truck</p>
                                <p class="card-text">vehicle number:TN 234 ap 3245</p>
                                <p class="card-text">vehicle type:mini truck</p>
                                <p class="card-text">capacity:2 tons</p>
                                <p class="card-text">city:chennai</p>
                                <p class="card-text">pin code:600044</p>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect waves-light">Book</a>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-6 col-xl-4">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="assets/images/small/lorry.jpeg" alt="Card image cap">
                            <div class="card-body">
                               
                                <p class="card-text">vehicle name:truck</p>
                                <p class="card-text">vehicle number:TN 234 ap 3245</p>
                                <p class="card-text">vehicle type:mini truck</p>
                                <p class="card-text">capacity:4 tons</p>
                                <p class="card-text">city:chennai</p>
                                <p class="card-text">pin code:600044</p>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect waves-light">Book</a>
                            </div>
                            
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-6 col-xl-4">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="assets/images/small/mini.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">vehicle name:truck</p>
                                <p class="card-text">vehicle number:TN 234 ap 3245</p>
                                <p class="card-text">vehicle type:mini truck</p>
                                <p class="card-text">capacity:3 tons</p>
                                <p class="card-text">city:chennai</p>
                                <p class="card-text">pin code:600044</p>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect waves-light">Book</a>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-6 col-xl-4">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/small/log.jpeg" alt="Card image cap">
                           
                           
                            <div class="card-body">
                               
                                <p class="card-text">vehicle name:truck</p>
                                <p class="card-text">vehicle number:TN 234 ap 3245</p>
                                <p class="card-text">vehicle type:mini truck</p>
                                <p class="card-text">capacity: 5</p>
                                <p class="card-text">city:chennai</p>
                                <p class="card-text">pin code:600044</p>
                                <a href="javascript:void(0);" class="btn btn-primary waves-effect waves-light">Book</a>
                               
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </body>
            </html>
               