<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DETAILS</title>
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/app.min.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="content-page">
        <div class="content">

            <!-- Start Content-->
            <div class="container-fluid">
                
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                               
                            </div>
                            <h4 class="page-title">USER DETAILS</h4>
                        </div>
                    </div>
                </div>     
                <!-- end page title --> 

                <div class="row">
                    <div class="col-lg-6 col-xl-4">
                        <!-- Simple card -->
                        <div class="card">
                            <img class="card-img-top img-fluid" src="assets/images/small/wheat.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">user details</h5>
                                <p class="card-text">user name:surya</p>
                                <p class="card-text">order id::30098645</p>
                               
                               
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-6 col-xl-4">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="assets/images/small/corn.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">user details</h5>
                                <p class="card-text">user name:dileep</p>
                                <p class="card-text">order id:7657886</p>
                               
                                
                            </div>
                            
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-6 col-xl-4">
                        <div class="card">
                            <img class="card-img-top img-fluid" src="assets/images/small/veg.jpeg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">user details</h5>
                                <p class="card-text">user name:harsha</p>
                                <p class="card-text">order id:436536</p>
                                
                                
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-lg-6 col-xl-4">
                        <div class="card">
                            <img class="img-fluid" src="assets/images/small/rice.jpeg" alt="Card image cap">
                            
                           
                            <div class="card-body">
                                <h5 class="card-title">user details</h5>
                                <p class="card-text">user name:sri</p>
                                <p class="card-text">order id:436536</p>
                               
                               
                            </div>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </body>
            </html>
               